h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

.heading {
    background-color: lightcoral;
}


/* this will gien even block color */

tr:nth-child(even) {
    background-color: lightgoldenrodyellow;
}