h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
table {
  margin-left: 29.5%;
}
th {
  background-color: green;
}
tr:nth-child(even) {
  background-color: lightgrey;
}
